.search{
    display: inline-flex;
    position: relative;
}
.search input{
    border:none;
    outline: none;
    height: 36px;
    width:130px;
    border-radius:18px;
    background: var(--color-2);
    padding: 8px 36px 8px 16px;
    color: var(--f-color-1);
}
.search input::placeholder{
    color:var(--color-4);
}

.search span{
    position: absolute;
    font-size: 16px;
    top: 50%;
    right: 16px;
    line-height: 0;
    z-index: 2;
    color: var(--f-color-1);
    transform: translateY(-50%);
    cursor: pointer;
}

.search-width{
    width: 230px !important;
    transition: width .3s ease;
}
