
.login-page{
  position: fixed;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 400px;
  background-color: #fff;
  box-shadow: 5px 5px 20px #888888;
}

.login_page{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}
.wrap-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.btn-input{
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
}


.logo-title{
  display: flex;
  flex-direction: row;
  background:var(--color-3);
  border: 1px solid var(--color-2);
  padding: 1px;
}

.logo-title img{
  width:68px;
  height:68px;
}
.logo-title >h2{
  color: var(--color-1)
}
.dog>img{
  position: absolute;
  top: -180px;
  left: 260px;
  width: 200px;
  height: 200px;
  z-index: 2;
}
.dogEyes{
    position: absolute;
    width: 65px;
    height: 18px;
    top: -40px;
    left: 327px;
    /* background-color: red; */
    z-index:2 ;

}
.eyes1{
  position: absolute;
  top: 0px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 0px 0px 5px 5px;
}
.eyes2{
  position: absolute;
  top: 0px;
  left: 51px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 0px 0px 5px 5px;
}

