.wrap-Message{
    position: relative;
    z-index: 999;
}
.message-contain{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    height: 25px;
    font-size: small;
    background-color: #fff;
    box-shadow: 0 0 5px var(--f-color-2);
    z-index: 999;
}
.message-contain>i{
    width: 16px;
    margin-right: 10px;
}

.message-contain>p{
    color: var(--color-1);
}